@import 'components/variables';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content {
  height: 100%;
  padding-top: 56px; // = navbar height
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.talk-detail {
  .collection.with-header {
    display: none;
    @media #{$large-and-up} {
      display: block;
    }
  }
  .program-container {
    display: none;
    @media #{$large-and-up} {
      display: block;
    }
  }
}
.speaker-detail {
  .collection.with-header {
    display: none;
    @media #{$large-and-up} {
      display: block;
    }
  }
  .speakers-container {
    display: none;
    @media #{$large-and-up} {
      display: block;
    }
  }
}