@import 'components/variables';
nav {
    position: fixed;
    z-index: 10;
    ul {
        a {
            color: $main-bg-color;
            padding: 0 25px;
        }
    }
    .back {
        font-size: 34px;
        padding: 0 8px;
        left: 10px;
        position: absolute;
        @media #{$medium-and-up} {
            display: none;
        }
        i {
            height: auto;
        }
    }
    .location-container {
        font-size: 1.8rem;
        margin-left: 18px;
        margin-right: 0px;

        @media #{$small-and-down} {
          margin-top: 12px;
        }
    }
    div.brand-logo {
        display: flex;
        top: 3px;
        color: $main-bg-color;
        font-size: 1.8rem;

        @media #{$medium-and-up} {
        top: 7px;
        }
        @media #{$small-and-down} {
            width: auto;
            display: flex;
            justify-content: space-between;
            right: 0;
        }
        .brand-title {
            display: none;
            @media #{$medium-and-up} {
                display: inline-block
            }
        }
        .navigation-title {
            display: inline-block;
            @media #{$medium-and-up} {
                display: none;
            }
        }
        .jug-logo {
            margin-right: -10px;
            width: 50px;
            height: 54px;
        }
        &.right {
          right: 1.5rem !important;
        }
    }

    ul#nav-desktop {
      @media #{$small-and-down} {
        display:none;
      }
      li {
        a.active {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      #new-version-desktop {
        div {
          padding: 0 15px;
          cursor: pointer;
          position: relative;
          i.fa {
            display: flex;
            align-items: center;
            font-size: 38px;
          }
          span.badge {
            position: absolute;
            min-width: 21px;
            padding: 0;
            left: 4px;
            border-radius: 12px;
            top: 5px;
            margin-left: 0px;
          }
        }
      }
    }

    ul#nav-mobile {
      font-size: 30px;
      
      @media #{$medium-and-up}{
        display:none;
      }
      .tab{
        font-size: 24px;
      }

      @media #{$small-and-down} {
            background: $primary-color;
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            height: 56px;
        }
        li {
            a.active {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        #new-version-mobile {
            div {
                padding: 0 15px;
                @media #{$small-and-down} {
                  //padding : 10px 12px;
                }
                cursor: pointer;
                position: relative;
                i.fa {
                    display: flex;
                    align-items: center;
                    font-size: 30px;
                }
                span.badge {
                    position: absolute;
                    min-width: 21px;
                    padding: 0;
                    left: 4px;
                    border-radius: 12px;
                    top: 5px;
                    @media #{$small-and-down} {
                      top : 6px;
                    }
                    margin-left: 0px;
                }
            }
        }
    }
}