@import 'components/variables';

.program-container {
    ul.collection {
        .schedule-item {
            .talk-info {
                color: $primary-color;
                .talk-type {
                    font-weight: 400;
                    //font-style: italic;
                }
                .talk-author {
                    a {
                        font-weight: 500;
                        color: #eb643b;
                    }
                }
                .talk-room {
                    font-weight: 300;
                }
                .talk-time {
                    font-weight: 600;
                }
            }
            .secondary-content {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 4px !important;
            }
        }
        .fake-item {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 150px;
            font-size: 21px;
            background-color: rgba(0,0,0,0.1);
            @media #{$medium-only} {
                min-height: 140px;    
            }
            @media #{$large-and-up} {
                min-height: 123px;
            }
            
        }
    }
}