@import 'components/variables';

.schedule-container {
    height: 100%;
    margin: 0 -0.15rem;
    ul.collection {
        border: none;
        margin-top: 0;
        overflow: auto;
        max-height: calc(100% - 56px);
        .collection-header {
            margin-top: 56px;
            color: $primary-color;
            background-color: $main-bg-color;
        }
        .collection-item {
            background-color: $main-bg-color;
        }
        .schedule-item {
            position: relative;
            color: $secondary-color;
            cursor: pointer;
            .secondary-content {
                position: absolute;
                top: 16px;
                right: 16px;
            }
            p {
                margin-bottom: 0.4em;
                margin-top: 0;
            }
            .title {
                display: block;
                max-width: calc(100% - 50px);
                font-weight: 600;
                font-size: 16px;
                @media #{$medium-and-up} {
                    font-size: 18px;
                }
            }
            .talk-info {
                .talk-type {
                    font-weight: 400;
                    font-style: italic;
                }
                .talk-author {
                    font-weight: 500;
                    color: #eb643b;
                }
                .talk-room {
                    font-weight: 300;
                }
                .talk-time {
                    font-weight: 600;
                }
            }
        }
    }
}