@import 'components/variables';

.schedule-container {
    ul.collection {
        .schedule-item {
            .talk-info {
                .talk-type {
                    font-weight: 400;
                    font-style: italic;
                }
                .talk-author {
                    font-weight: 500;
                    color: #eb643b;
                }
                .talk-room {
                    font-weight: 300;
                }
                .talk-time {
                    font-weight: 600;
                }
            }
        }
    }
}