@import "components/variables";

.speakers-container {
    .speaker {
        display: block;
        &.active {
            //box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 8px 8px 19px 0 rgba(0, 0, 0, 0.5), 4px 6px 20px 0 rgba(0, 0, 0, 0.5);
        }
        .card-content {
            background-color: $speaker-color;
            color: #fff;
            text-align: center;
            padding: 12px;
        }
        &.fake {
            box-shadow: none;
            .card-image {
                background-color: rgba(0,0,0,0.1);
                .fake-img {
                    height: 250px;
                }
            }
        }
    }
}

.speaker-container {
    .speaker-header {
        color: $secondary-color;
        padding: 10px 20px;
        border-bottom: 1px solid #e0e0e0,
    }
    .speaker-infos {
        padding: 10px;
    }
    .speaker-picture {
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
    }
    .speaker-content {
        margin-top: 10px;
        @media #{$medium-and-up} {
            margin-top: 0;
        }
    }
}
.back {
    padding: 0 20px;
    margin-left: -20px;
    @media #{$large-and-up} {
        display: none;
    }
}