@import 'components/variables';

.talk-container {
    .talk-header {
        color: $primary-color;
        padding: 10px 20px;
        border-bottom: 1px solid #e0e0e0,
    }   
}
.back {
    padding: 0 20px;
    margin-left: -20px;
    display: inline;
    @media #{$large-and-up} {
        display: none;
    }
}