@import 'components/variables';

.talk-container {
  .talk-header {
    color: $secondary-color;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0
  }
  .talk-content {
    strong {
      font-weight: 600;
    }
    ul {
      padding-left: 30px;
      list-style-type: disc;
      li {
        list-style-type: disc;
      }
    }
  }
  .talk-info {
    color: $primary-color;
    .talk-type {
      font-weight: 400;
      //font-style: italic;
      display: block;
    }
    .talk-author {
      a {
        font-weight: 500;
        color: #eb643b;
      }
      margin-bottom: 18px;
      display: block;
    }
    .talk-room {
      font-weight: 300;
    }
    .talk-time {
      font-weight: 600;
    }
  }

  .talk-rating {
    h6 {
      font-size: 16px;
      padding: 10px 10px;
      color: $secondary-color;
      border-bottom: 1px solid #e0e0e0
    }
    .rating {
      border: none;
      float: left;
    }

    .rating > input {
      display: none;
    }
    .rating > label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }

    .rating > .half:before {
      content: "\f089";
      position: absolute;
    }

    .rating > label {
      color: #ddd;
      float: right;
    }

    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
      color: rgb(235, 100, 59);
    }

    .rating > input:checked + label:hover,
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label,
    .rating > input:checked ~ label:hover ~ label {
      color: rgba(235, 100, 59, 0.9);
    }
  }
}

.back {
  padding: 0 20px;
  margin-left: -20px;
  display: inline;
  @media #{$large-and-up} {
    display: none;
  }
}